# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# macOS
.DS_Store

# Logs
*.log

# Live GTFS data feeds
data/static_gtfs_schedule_data/*
data/package_metadata/*

